.banner {
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;

}


.banner img {
  width: 100%;
  height: auto;
  display: block;

}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}