.banner {
  height: 200px; 
  width: 100%;
  overflow: hidden; 
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}


.banner img {
  height: 100%; 
  width: 100%;
  display: block;
  object-fit: cover; 
  

}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  white-space: nowrap;
}

.hacksaw-brushes {
  text-align: left;
  margin-top: 20px;
}

.hacksaw-brushes img {
  width: 10%;
  height: auto%;
  display: block;
  align-content: left;
}