.banner {
  height: 200px; 
  width: 100%;
  overflow: hidden; 
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}


.banner img {
  height: 100%; 
  width: 100%;
  display: block;
  object-fit: cover; 

}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  white-space: nowrap;

}

.brushes {
  text-align: left;
  margin-top: 20px;
  background-color: mediumspringgreen;
  height: 50px; 
  width: 100%;
  overflow: hidden; 
}

.brushes h2 {
  position: absolute;
  transform: translate(10%, -50%);
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;

}

.image-container {
  height: 200px; 
  width: 100%;
  overflow: hidden; 
  margin-top: 40px;
}

.image-container img {
  width: auto;
  height: auto;
  display: block;
  align-content: left;

}

.hacksaw-brushes h3 {
  font-family: Helvetica;

}

.hacksaw-brushes p {
  font-family: Helvetica;

}

.hacksaw-brushes .p-first {
  font-weight: bold;
  color: blue;
  
}


.frames {
  text-align: left;
  margin-top: 20px;
  background-color: lightcoral;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.frames h2 {
  position: absolute;
  transform: translate(10%, -50%);
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;

}

.image-frames{
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}

.image-frames img {
  width: auto;
  height: auto;
  display: block;
  align-content: left;

}

.art-frames h3 {
  font-family: Helvetica;

}

.art-frames p {
  font-family: Helvetica;

}

.art-frames .p-second {
  font-weight: bold;
  color: blue;

}